.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  height: 8dvh;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  @media (min-width: 768px) {
    background-color: lightcoral;
  }

  @media (min-width: 1024px) {
    background-color: lightgray;
  }
}
