.header {
  @media (min-width: 768px) {
    background-color: lightcoral;
  }

  @media (min-width: 1024px) {
    background-color: lightgray;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}
